# Copy this file to .env and update values

SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET
SPOTIFY_REDIRECT_URI=http://localhost:3000/auth/spotify/callback

HUGGINGFACE_API_KEY=

SESSION_SECRET=supersecret